@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
    /* near black grey */
    --grey1: #191818;
    /* dark grey */
    --grey2: #302d2d;
    /* darker light grey */
    --grey3: #dad8d8;
    /* light grey */
    --grey4: #f1f1f1;
    
    --red0: #6b291a;
    /* dark red */
    --red1: #854435;
    /* mid red */
    --red2: #cd5a42;
    /* light red */
    --red3: #e1997c;
    /*alternate mid red*/
    --red25: #db735e;
    /*paler than --red25*/
    --salmon: #e8937b;
    /*gold*/
    --gold1: #cb9848;
    /*light gold*/
    --gold2: #cbb682;

    --navbartext: var(--gold1);
}

* {
    font-family: 'Montserrat', sans-serif;
}

p{
    white-space: pre-wrap;
    margin: 0;
}

code{
    width: 100vw !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.text{
    color: white;
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
}

span{
    text-decoration: none;
}

hr{
    margin: 0px 50px;
    height: 1px;
    border: none;
    background-color: var(--grey2);
}

h2{
    font-weight: 400;
}

b{
    font: 900;
}

/*img{
    width: 100%;
}*/

.gold{
    color: var(--gold1);
}

.grey1{
    color: var(--grey1);
}

.grey2{
    color: var(--grey2);
}

.grey3{
    color: var(--grey3);
}

.grey4{
    color: var(--grey4);
}

.footer{
    height: 230px;
    width: 100%;
    background-color: var(--grey1);
    display: flex;
    margin: auto;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
}

.footer-title{
    margin-top: 25px;
    font-size: 18;
    color: var(--gold1);
    text-align: center;
    padding: 0px 60px;
}

.footer-title-par{
    margin: 0px auto;
    padding-top: 40px;
}

.footer-bar{
    background-color: var(--grey2);
    height: 0.5vh;
    width: 10vw;
    margin: 15px auto 0px;
}

.foooter-icon-par{
    margin-top: 15px;
    display: flex;
    
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
	justify-content:center;
}

.footer-icon{
    height: 3vh;
    width: 3vh;
    margin: 2vh calc(0.25vh + 0.25vw);
}

.footer-icon:hover{
    opacity: 0.3;
    cursor: pointer;
}

.footer-name{
    display:inline-block;

    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: var(--grey1);
    margin: 0px 20px;

    opacity: 0.5;
}

.footer-name:hover{
    text-decoration: none;
    color: var(--red0);
    opacity: 0.8;
}

.container{
    margin: auto;
    padding: 20px;
    max-width: 1200px;
    /*height: calc(100% - 40px);*/
    box-shadow: 0 0 4px 0 var(--grey2);
}