#blogbg {
    margin-top: 70px;
    background-color: var(--grey3);
}
.container{
    background-color: var(--grey4);
    display: flex;
}
#images, #text {
    width: 50%;
    word-wrap: break-word;
}