.container{
    margin-top:  70px;
}
#wrapper {
    width: calc(100%-80px);
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: auto;
}
#calendar {
    /*width: 90%;*/
    height: 100%;
}
.fc-scroller {
    /*overflow-y: hidden !important;*/
 }
 .fc-toolbar-chunk {
 }

 @media screen and (max-width: 800px) {
    #wrapper{
        padding: 40px 0px;
    }
 }