h2 {
    font-weight: 400;
    margin-bottom: 10px;
}
p {
    color: var(--grey2);
}
#back-link {
    color: var(--gold1);
    text-decoration: none;
}

#back-link:hover{
    filter: brightness(85%);
}

hr {
    height: 2px;
}
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    padding-bottom: 10px;
}
.logo {
    padding: 20px 0px;
    width: 100%;
}
.description {
    display:flex;
    justify-content: center;
    text-align: center;
    line-height: 175%;
    padding-top: 20px;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-style: none;
}
.video iframe {
    width: 560px;
    height: 315px;
}
.slideshow{
    padding-bottom: 20px;
}
.slideshow iframe{
    width: 60vw;
    height: calc(60vw*0.6);
}
.contact-list{
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-bottom: 30px;
}
#contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.contact{
	width: auto;
	display: flex;
	margin-top: 30px;
	opacity: 1;
}
.contact a {
	display: flex;
	align-items: left;
}
.contact:hover{
  filter: brightness(85%);
}

.contact-icon{
	height: 3vh;
	width: 3vh;
}

.contact-text{
	padding-left: 10px;
	font-size: 18px;
	opacity: 0.8;
}
@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header {
        width: calc(100% - 20px);
        text-align: center;
        padding: 10px;
    }
    .club {
        flex-direction: column;
    }
    .logo img {
        width: 60%;
    }
    .description {
        width: 80%;
    }
    iframe {
        width: 90%;
    }
    .slideshow iframe{
        width: 90vw;
        height: calc(90vw*0.6);
    }
    hr {
        width: 100%
    }
}
