h2 {
    font-weight: 400;
    margin-bottom: 10px;
}
p {
    color: var(--grey2);
}
#back-link {
    color: var(--gold1);
    text-decoration: none;
}

hr {
    height: 2px;
}
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    padding-bottom: 10px;
}
.logo {
    padding: 20px 0px;
    width: 100%;
}
.description {
    display:flex;
    justify-content: center;
    text-align: center;
    line-height: 175%;
    padding-top: 20px;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.slideshow{
  padding-bottom: 20px;
}
.slideshow iframe{
  width: 90vw;
  height: 50vh;
}
.contact-list{
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 30px;
}

.contact{
	width: auto;
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.contact-icon{
	height: 3vh;
	width: 3vh;
}

.contact-text{
	padding-left: 10px;
	font-size: 18px;
	opacity: 0.8;
}
@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header {
        width: calc(100% - 20px);
        text-align: center;
        padding: 10px;
    }
    .club {
        flex-direction: column;
    }
    .logo img {
        width: 60%;
    }
    .description {
        width: 80%;
    }
    iframe {
        width: 90%;
    }
}