.masthead{
	margin-top: 70px;

	min-height: 400px;
	height: 50vh;
	max-height: 500px;

    background-color: var(--grey4);
}

.masthead-wrap{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
}

.masthead-graphic{
	height: 40vh;
	max-height: 500px;
	/*width: 50vw;*/
	min-height: 300px;
}

.masthead-title{
	font-family: 'Raleway', sans-serif;
	width: 30vw;
	text-align: center;
	padding-left: 30px;
	font-size: calc(3vw + 10px);
	color: var(--grey2);
}

.header-title{
    font-family: 'Montserrat', sans-serif;
    padding: calc(370px + 6vh - 6vw) 0px 0px 50px;
    color: white;
    font-weight: 700px;
    font-size: calc(5vw + 50px);
}

