.multiselect {
    width: 250px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-size: 16px;
    background-color: var(--grey4);
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkBoxes {
    width: 248px;
    background-color: var(--grey4);
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px var(--grey3) solid;
    box-shadow: 0px 2px 5px var(--grey1);
}

#checkBoxes label {
    display: block;
    padding: 3px 3px;
}

#checkBoxes label:hover {
    background-color: var(--grey3);
}
#checkBoxes input {
    margin-right: 8px;
}